<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <iisnode loggingEnabled="false" debuggingEnabled="false" />

        <handlers>
            <add name="iisnode" path="Server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Rule to rewrite all URLs to Server.js -->
                <rule name="myapp">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Server.js" />
                </rule>

                <!-- Uncomment HTTPS redirect rule for production only -->
                <!-- 
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
